node_modules
.git
.gitignore
Dockerfile
*.md
src
*.ts
*.tsx
*.test.ts
*.test.tsx
.next/cache
.next/server/pages-manifest.json
.next/server/middleware-manifest.json
.next/server/app-paths-manifest.json
.next/server/chunks/*.js.map
.next/server/pages/*.js.map
.next/server/app/*.js.map